@page
@model NajdiSpolubydliciRazor.Pages.Demand.DeleteModel
@{
    ViewData["Title"] = "Smazat poptávku?";
}

<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form method="post">
    <fieldset>
        <legend>Smazat poptávku?</legend>
        <button type="submit">SMAZAT</button>
    </fieldset>
</form>
