@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

$white-text: rgb(226, 226, 226);
$dark-green: rgb(69, 98, 71);
$red: rgb(255, 0, 0);

form {
    all: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    min-width: fit-content;
    padding: 3.5vh;

    fieldset {
        all: unset;
        font-family: NotoSans, Calibri;
        width: 100%;
        background-color: $white-text;

        legend {
            text-align: center;
            font-size: calc(6px + 1vw + 0.6vh);
            font-weight: 500;
            background-color: $dark-green;
            color: $white-text;
            width: 100%;
            padding: 0.5em 0 0.5em 0;
        }

        .prefilled {
            display: none;
        }

        #forminputlayout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            grid-auto-columns: 1fr;
            padding: 0;


            img {
                max-width: 20vw;
            }
        }

        h3 {
            font-size: calc(4px + 0.6vw + 0.4vh) !important;
            font-weight: 500;
            text-align: center;
            margin: auto;
            padding: 1vh 0;
        }

        div {
            display: flex;
            flex-direction: column;
            padding: 1vh 1vw;
            font-size: calc(4px + 0.6vw + 0.4vh);
            font-weight: 500;

            input, select, textarea {
                margin: 0.5vh 0;
                padding: 0.5vh 4px;
                font-size: inherit;
                border-width: 0;
                border-bottom: calc(2px + 0.1vh) solid transparent;

                &::file-selector-button {
                    background-color: $white-text;
                    border: none;
                    cursor: pointer;
                }
            }

            input[type="date"] {
                margin: 0.5vh 0;
                padding: 0.35vh 4px;
                font-size: inherit;
                border-width: 0;
                border-bottom: calc(2px + 0.1vh) solid transparent
            }

            select {
                padding: 0.5vh 0;
            }

            textarea {
                height: 12vh;
                min-height: fit-content;
                overflow: hidden;
            }

            input:focus, select:focus, textarea:focus {
                outline: none;
                border-bottom: calc(2px + 0.1vh) solid black;
            }

            .image-input {
                border: 2px dashed $dark-green;
                cursor: pointer;

                &:focus {
                    border: 2px dashed $dark-green;
                }
            }

            span {
                font-size: calc(4px + 0.4vw + 0.4vh);
                padding: 0 0.15em;
                color: $red;
            }
        }

        img[src=""] {
            display: none;
        }

        img {
            max-width: 42vw;
        }

        .remove {
            cursor: pointer;
            background: none;
            color: black;
            border: 2px dashed $red;
            font-size: calc(4px + 0.6vw + 0.4vh);
            padding: calc(1px + 0.15vw + 0.1vh) calc(2px + 0.3vw + 0.2vh);
            margin: calc(1px + 0.15vw + 0.1vh) 0;
            display: none;
        }

        button {
            all: unset;
            cursor: pointer;
            display: grid;
            margin: 2vh auto;
            font-size: calc(6px + 0.8vw + 0.4vh);
            font-weight: 500;
            color: black;
            border-bottom: 3px solid $dark-green;
            background-color: $white-text;
            padding: 1vh 1vw;
        }
    }
}



@media (max-aspect-ratio: 13/9) {
    #forminputlayout {
        display: flex !important;

        img {
            max-width: 100% !important;
        }
    }

    img {
        max-width: 100% !important;
    }
}