@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-VariableFont_wdth,wght.ttf);
}
form {
  all: unset;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  min-width: fit-content;
  padding: 3.5vh;
}
form fieldset {
  all: unset;
  font-family: NotoSans, Calibri;
  width: 100%;
  background-color: rgb(226, 226, 226);
}
form fieldset legend {
  text-align: center;
  font-size: calc(6px + 1vw + 0.6vh);
  font-weight: 500;
  background-color: rgb(69, 98, 71);
  color: rgb(226, 226, 226);
  width: 100%;
  padding: 0.5em 0 0.5em 0;
}
form fieldset .prefilled {
  display: none;
}
form fieldset #forminputlayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
}
form fieldset #forminputlayout img {
  max-width: 20vw;
}
form fieldset h3 {
  font-size: calc(4px + 0.6vw + 0.4vh) !important;
  font-weight: 500;
  text-align: center;
  margin: auto;
  padding: 1vh 0;
}
form fieldset div {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  font-size: calc(4px + 0.6vw + 0.4vh);
  font-weight: 500;
}
form fieldset div input, form fieldset div select, form fieldset div textarea {
  margin: 0.5vh 0;
  padding: 0.5vh 4px;
  font-size: inherit;
  border-width: 0;
  border-bottom: calc(2px + 0.1vh) solid transparent;
}
form fieldset div input::file-selector-button, form fieldset div select::file-selector-button, form fieldset div textarea::file-selector-button {
  background-color: rgb(226, 226, 226);
  border: none;
  cursor: pointer;
}
form fieldset div input[type=date] {
  margin: 0.5vh 0;
  padding: 0.35vh 4px;
  font-size: inherit;
  border-width: 0;
  border-bottom: calc(2px + 0.1vh) solid transparent;
}
form fieldset div select {
  padding: 0.5vh 0;
}
form fieldset div textarea {
  height: 12vh;
  min-height: fit-content;
  overflow: hidden;
}
form fieldset div input:focus, form fieldset div select:focus, form fieldset div textarea:focus {
  outline: none;
  border-bottom: calc(2px + 0.1vh) solid black;
}
form fieldset div .image-input {
  border: 2px dashed rgb(69, 98, 71);
  cursor: pointer;
}
form fieldset div .image-input:focus {
  border: 2px dashed rgb(69, 98, 71);
}
form fieldset div span {
  font-size: calc(4px + 0.4vw + 0.4vh);
  padding: 0 0.15em;
  color: rgb(255, 0, 0);
}
form fieldset img[src=""] {
  display: none;
}
form fieldset img {
  max-width: 42vw;
}
form fieldset .remove {
  cursor: pointer;
  background: none;
  color: black;
  border: 2px dashed rgb(255, 0, 0);
  font-size: calc(4px + 0.6vw + 0.4vh);
  padding: calc(1px + 0.15vw + 0.1vh) calc(2px + 0.3vw + 0.2vh);
  margin: calc(1px + 0.15vw + 0.1vh) 0;
  display: none;
}
form fieldset button {
  all: unset;
  cursor: pointer;
  display: grid;
  margin: 2vh auto;
  font-size: calc(6px + 0.8vw + 0.4vh);
  font-weight: 500;
  color: black;
  border-bottom: 3px solid rgb(69, 98, 71);
  background-color: rgb(226, 226, 226);
  padding: 1vh 1vw;
}

@media (max-aspect-ratio: 13/9) {
  #forminputlayout {
    display: flex !important;
  }
  #forminputlayout img {
    max-width: 100% !important;
  }
  img {
    max-width: 100% !important;
  }
}
