@page
@model NajdiSpolubydliciRazor.Pages.CreateAdvertisementModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/index.min.css" />
</head>
<body>
    <nav>
        <a asp-page="/Offer/CreateOffer">Vytvořit nabídku</a>
        <a asp-page="/Demand/CreateDemand">Vytvořit poptávku</a>
    </nav>
</body>