@page
@model NajdiSpolubydliciRazor.Pages.DeletedModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Smázáno</legend>
        <div>
            <h3>Inzerát úspěšně smazán</h3>
        </div>
    </fieldset>
</form>