@page
@model AdvertismentNotFoundModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Chyba</legend>
        <div>
            <h3>Inzerát nenalezen</h3>
        </div>
    </fieldset>
</form>