@page
@model NajdiSpolubydliciRazor.Pages.UpdatedModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Upraveno</legend>
        <div>
            <h3>Inzerát úspěšně změněn</h3>
        </div>
    </fieldset>
</form>
