@page
@model NajdiSpolubydliciRazor.Pages.ContactReceiver.ContactSentModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Posláno</legend>
        <div>
            <h3>Kontakt naleznete v emailu</h3>
        </div>
    </fieldset>
</form>