@page
@model NajdiSpolubydliciRazor.Pages.ContactReceiver.OpenLastEmailModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Upozornění</legend>
        <div>
            <h3>Otevřete poslední poslaný link na kontakt, ať víme, že je to Váš email</h3>
        </div>
    </fieldset>
</form>