@page
@using NajdiSpolubydliciRazor.Enums
@model NajdiSpolubydliciRazor.Pages.ContactReceiver.VerifyEmailModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form>
    <fieldset>
        <legend>Chyba</legend>
        <div>
            <h3>Něco se nepovedlo</h3>
        </div>
    </fieldset>
</form>
