@page
@using NajdiSpolubydliciRazor.Enums
@model NajdiSpolubydliciRazor.Pages.Offer.OffersSearchModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/form.min.css" />
</head>

<form method="post">
    <fieldset>
        <legend>Nabídky</legend>
        <div>
            <label>Okres:<span class="required">*</span></label>
            <select asp-for="District" asp-items="Html.GetEnumSelectList<District>()"></select>
            <span asp-validation-for="District"></span>
        </div>
        <button type="submit">HLEDAT</button>
    </fieldset>
</form>
